<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Tom&Jerry </title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    
    <a href="/home"><span> Home </span></a>
    
    <a href="/about"> <span> About </span>  </a>
    <a href="/work"> <span> Work </span>  </a>

<h1> About Tom & Jerry</h1>

<p class="about-p">Tom and Jerry is an American animated cartoon series. It is about two characters: a blue cat named Tom and a house mouse named Jerry.The Tom and Jerry cartoon series is created by William Hanna and Joseph Barbera, the cartoon first aired on October 27, 1940, before becoming a Saturday morning staple by 1955. The show was based on a short gag film made in 1937 called Puss Gets the Boot. The series’ popularity has led to over a hundred productions since its inception in 1940 including several television specials and direct-to-video features.</p>

<h1> Creator </h1>
<p class="about-p"> Not yet named in their debut theatrical short, Puss Gets the Boot (1940), Tom (the scheming cat) and Jerry (the spunky mouse) nonetheless were a hit with audiences. Animators William Hanna and Joseph Barbera produced more than 100 episodes for Metro-Goldwyn-Mayer (MGM). Several of these—including Yankee Doodle Mouse (1943), The Cat Concerto (1946), and Johann Mouse (1952)—won Academy Awards for best animated short subject. In most episodes Jerry foiled Tom’s efforts to catch him and lived to annoy him another day—though occasionally Tom got the upper hand, or the two would join forces against a common enemy. The series was driven entirely by action and visual humour; the characters almost never spoke.</p>




</body>
</html>