<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Work Tom & Jerry</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    

    <a href="/home"><span> Home </span></a>
    
    <a href="/about"> <span> About </span>  </a>
    <a href="/work"> <span> Work </span>  </a>

    <ul>
        <p>Tom and Jerry kids show 1990-1994</p>
        <li><img src="/images/Image20230314103408.jpg"/></li>
               
        <p>Tom and Jerry tales 2006-2008</p>
        <li><img src="/images/Image20230314102911.jpg"/></li>

        <p>Tom and Jerry in New York 2021</p>
        <li><img src="/images/Image20230314103209.jpg" id="img"/></li>
        
    </ul>


</body>
</html>